.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.cart button {
  width: 160px;
  height: 40px;
  margin-top: 10px;
}

.cart button:hover {
  background-color: black;
  color: #fff;
}