.checkout-table {
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
}

th, td {
  border-bottom: 1px solid #000;
  border-right: 1px;
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}